@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 22 23 50;
    --color-secondary: 11 11 23;
    --color-secondary-list: 57 58 84;
    --color-danger: 255 51 102;
    --color-hover: 173 28 64;
    --color-gray: 251 251 251;
    --color-pink: 116 46 255;
    --color-gray-primary: 223 223 255;
    --color-gray-secondary: 171 170 196;
    --color-gray-secondary-title: 163 163 177;
    --color-gray-secondary-before: 212 212 226;
    --color-gray-border: 180 179 179;
    --color-gray-border-service: 213 213 245;
    --color-border: 188 185 247;
    --font-sans: "Plus Jakarta Sans", sans-serif;
  }

  body {
    @apply font-sans text-forground bg-background leading-[1.5];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-semibold leading-[1.167];
  }

  h1,
  .h1 {
    @apply text-h1-sm lg:text-h1 font-bold;
  }
  h2,
  .h2 {
    @apply text-h2-sm lg:text-h2;
  }
  h3,
  .h3 {
    @apply text-h3-sm lg:text-h3;
  }
  h4,
  .h4 {
    @apply text-h4-sm lg:text-h4 mb-2 lg:mb-3;
  }
  h5,
  .h5 {
    @apply text-h5;
  }
  h6,
  .h6 {
    @apply text-h6-sm sm:text-h6 mb-3;
  }
}

@layer utilities {
  .container {
    @apply px-6 max-w-[1648px] mx-auto;
  }
  .container-sm {
    @apply max-w-[1328px] mx-auto;
  }
}

@layer components {
  .btn {
    @apply bg-danger rounded-full text-white transition-colors hover:bg-hover capitalize h-14 lg:h-20 inline-flex items-center justify-center gap-2;
  }
  .active {
    @apply text-green-400;
  }
}

/* ::-webkit-scrollbar {
  width: 0;
} */
@keyframes autoRun {
  from {
    left: 100%;
  }

  to {
    left: calc(var(--width) * -1);
  }
}
