@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 22 23 50;
    --color-secondary: 11 11 23;
    --color-gray: 251 251 251;
    --color-danger: 255 51 102;
  }
}
@layer components {
  .btn {
    @apply bg-danger rounded-full text-white px-10 py-3 font-semibold text-sm;
  }
}
